<!DOCTYPE html>
{% load static%}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'mysite/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>중복확인</title>
</head>
<body>
    <style type="text/css">
        body{ margin: 30px; }
        form{ text-align: center; }
        p{ margin-top: 20px; }
        #btn_use{ margin-top: 70px; }
    </style>
    <form  method="post" action="{% url 'idCheck' %}">
        {%csrf_token%}
        {{form.as_p}}

        <input id="user_id" type="text" placeholder="ID" name="user_id">
        <button id="btn_check" type="submit" >중복확인</button>
        <p id="result" >{{result}}</p>
        <button id="btn_use" type="button" onclick="use()">사용하기</button>
    </form>
    <script>
        function use(){
            if( {{check}}== 1 ){
                opener.user_id = "{{user_id}}";
                opener.document.getElementById("user_id").value = "{{user_id}}";
                window.close();
            }
            else{
                document.getElementById("result").innerHTML = "다른 아이디를 입력해주세요"
            }
        }
    </script>


</body>
</html>